extends ../layout 

block content 

    if message
        #notification.alert.alert-success
            | #{message}

    if errorMessage
        #notification.alert.alert-danger
            | #{errorMessage}

    h1 Crear Profesion!

     
    form(action="/profesion/alta", method="post")
        div(class = "mb-3")
            label(for="nombre") Nombre:
            input(type="text" , name="nombre", class = "form-control w-auto",required) 
        button(type = "submit",class="btn btn-success mx-2") Agregar Profesion

    h2(class = 'text-center') Listado de Profesiones
    table#myTable.table.table-striped
        thead 
            tr 
                th Id 
                th Nombre 
                th Estado 
                th Acciones 
        tbody 
            if profesiones.length > 0
                each p in profesiones
                    tr 
                        td #{p.idProfesion}
                        td #{p.nombre}
                        td #{p.estado ? 'Activo' : 'Inactivo'} 
                        td 
                            div(class="btn-group")
                                form(action=`/profesion/editar/${p.idProfesion}`, method="get") 
                                    button(type="submit", class="btn btn-primary mx-2") Editar
                                if p.estado == 1
                                    form(action=`/profesion/baja/${p.idProfesion}?_method=PATCH`, method="post") 
                                        button(type="submit", class="btn btn-danger mx-2") Desactivar
                                else 
                                    form(action=`/profesion/activar/${p.idProfesion}?_method=PATCH`, method="post") 
                                        button(type="submit", class="btn btn-success mx-2") Activar   
            else 
                tr
                    td(colspan="4") No hay profesiones registradas       
                   
                                

        