extends ../layout

block content
  h1 Editar Plan

  // Mensajes de notificación
  if message
    #notification.alert.alert-success
      | #{message}
  if errorMessage
    #notification.alert.alert-danger
      | #{errorMessage}

  div(class="row")
    div(class="col-md-6")
      form(action=`/plan/editarEnviar/${plan.idPlan}?_method=PUT`, method="post")
        div(class="mb-3")
          label(for="nombre") Nombre del Plan:
          input(type="text", name="nombre", value=plan.nombre, class="form-control", required)

        div(class="mb-3")
          label(for="obra") Obra Social:
          input(type="text", value=plan.ObraSocial.nombre, class="form-control", readonly)
          input(type="hidden", name="idObra", value=plan.ObraSocial.id)

        button(type="submit", class="btn btn-primary mt-2") Guardar
        a(href="/plan/index", class="btn btn-secondary mt-2") Volver
