extends ../layout

block content
  h1 Crear un Plan
  if message
    #notification.alert.alert-success
      | #{message}

  if errorMessage
    #notification.alert.alert-danger
      | #{errorMessage}
  div(class="row")
    div(class="col-md-4")
      form(action="/plan/alta", method="post")
        div(class="mb-3")
          label(for="nombre") Nombre:
          input(type="text", name="nombre", class="form-control" required)
        
        div(class="mb-3")
          label(for="obra") Obra Social:
          select(name="idObra", id="idObra", class="form-select")
            if obraSociales && obraSociales.length > 0
              each obra in obraSociales
                option(value=obra.id) #{obra.nombre}
            else
              option(value="") No hay obras sociales disponibles
          
        button(type="submit", class="btn btn-primary mt-2") Guardar

  h2 Listado de planes creados
  table#myTable.table.table-striped
    thead
      tr
        th Num
        th Plan
        th Obra Social
        th Estado
        th Acciones
    tbody
      if planes && planes.length > 0
        each p in planes
          tr
            td #{p.idPlan}
            td #{p.nombre}
            td #{p.ObraSocial.nombre}
            td #{p.estado ? 'Activo' : 'Inactivo'}
            td
              div(class="btn-group")
                form(action=`/plan/editar/${p.idPlan}`, method="GET")
                  button(type="submit", class="btn btn-primary mx-2") Editar
                if p.estado == 1 && p.ObraSocial.estado == 1
                  form(action=`/plan/baja/${p.idPlan}?_method=PATCH`, method="post")
                    button(type="submit", class="btn btn-danger" id="btn") Desactivar
                else
                  form(action=`/plan/activar/${p.idPlan}?_method=PATCH`, method="POST")
                    button(type="submit", class="btn btn-success mx-2" id="btn") Activar
      else
        tr
          td(colspan="5") No hay planes creados
  