extends ../layout

block content
  

  h1 Crear Tipo de Prestacion

  if message
    #notification.alert.alert-success
      | #{message}

  if errorMessage
    #notification.alert.alert-danger
      | #{errorMessage}

  form(action="/tipoPrestaciones/alta", method="POST")
    div(class="mb-3")
      label(for="nombre") Nombre de la Prestacion:
      input(type="text", name="nombre", class="form-control w-auto", required)
    button(type="submit", class="btn btn-success mx-2") Agregar Prestacion

  h2(class='text-center') Listado de Tipos de Prestaciones Medicas
  table#myTable.table.table-striped
    thead
      tr
        th ID
        th Nombre
        th Estado
        th Acciones
    tbody
      if tipoPrestaciones && tipoPrestaciones.length > 0
        each t in tipoPrestaciones
          tr
            td #{t.idTipo}
            td #{t.nombre}
            td #{t.estado ? 'Activo' : 'Inactivo'}
            td
              div(class="btn-group")
                form(action=`/tipoPrestaciones/editar/${t.idTipo}`, method="GET")
                  button(type="submit", class="btn btn-primary mx-2") Editar
                if t.estado == 1
                  form(action=`/tipoPrestaciones/bajar/${t.idTipo}?_method=PATCH`, method='POST')
                    button(type="submit", class="btn btn-danger mx-2") Desactivar
                else
                  form(action=`/tipoPrestaciones/activar/${t.idTipo}?_method=PATCH`, method='POST')
                    button(type="submit", class="btn btn-success mx-2") Activar
      else
        tr
          td(colspan="4") No hay obras Prestaciones registradas