extends ../layout

block content
  h1 Obras Sociales

  h2 Crear Obra Social

  if message
    #notification.alert.alert-success
      | #{message}

  if errorMessage
    #notification.alert.alert-danger
      | #{errorMessage}

  form(action="/obra/alta", method="POST")
    div(class="mb-3")
      label(for="nombre") Nombre de la Obra Social:
      input(type="text", name="nombre", class="form-control w-auto", required)
    button(type="submit", class="btn btn-success mx-2") Agregar Obra Social

  h2 Listado de Obras Sociales
  table#myTable.table.table-striped
    thead
      tr
        th ID
        th Nombre
        th Estado
        th Acciones
    tbody
      if obrasCreadas.length > 0
        each obra in obrasCreadas
          tr
            td #{obra.id}
            td #{obra.nombre}
            td #{obra.estado ? 'Activo' : 'Inactivo'}
            td
              div(class="btn-group")
                form(action=`/obra/editar/${obra.id}`, method="GET")
                  button(type="submit", class="btn btn-primary mx-2") Editar
                if obra.estado == 1
                  form(action=`/obra/baja/${obra.id}?_method=PATCH`, method='POST')
                    button(type="submit", class="btn btn-danger mx-2") Desactivar
                else
                  form(action=`/obra/activar/${obra.id}?_method=PATCH`, method='POST')
                    button(type="submit", class="btn btn-success mx-2") Activar
      else
        tr
          td(colspan="4") No hay obras sociales registradas