extends ../layout

block content
    div.container
        div.row.justify-content-center
            div.col-md-6.col-12
                h2 Alta de Turno
                form(action='/profesional/alta' method='POST' class="needs-validation")
                    
                    div(class="mb-3")
                        label(for='paciente' class="form-label") Paciente:
                        input(type="text" name="nombre" 
                            value=(paciente ? paciente.nombre + ' ' + paciente.apellido + ' (' + paciente.dni + ' ' + paciente.Plan.ObraSocial.nombre + ' ' + paciente.Plan.nombre + ')' : '') 
                            class="form-control" required)
                        input(type="hidden" name="id_paciente" value=(paciente ? paciente.id : ''))

                    div(class="mb-3")
                        label(for="id_profesional" class="form-label") Profesional:
                        select(name="id_profesional" id="id_profesional" class="form-select" required)
                            if profesionales && profesionales.length > 0
                                each pro in profesionales
                                    option(value=`${pro.idProfesional}`) #{pro.nombre + ' ' + pro.apellido}
                            else
                                option(value="" disabled) No hay profesionales disponibles

                    div(class="mb-3")
                        label(for="id_profesion" class="form-label") Profesión:
                        select(name="id_profesion" id="id_profesion" class="form-select" required)
                            if profesiones && profesiones.length > 0
                                each profesion in profesiones
                                    option(value=`${profesion}`) #{profesion}
                            else
                                option(value="" disabled) No hay profesiones disponibles

                    div(class="mb-3")
                        label(for="id_especialidad" class="form-label") Especialidad:
                        select(name="id_especialidad" id="id_especialidad" class="form-select" required)
                            if especialidades && especialidades.length > 0
                                each especialidad in especialidades
                                    option(value=`${especialidad}`) #{especialidad}
                            else
                                option(value="" disabled) No hay especialidades disponibles

                
                    div(class="d-grid gap-2")
                        button(type="submit" class="btn btn-primary") Guardar
                        a(href="/paciente/index" class="btn btn-secondary") Volver
