extends ../layout2 

block content 

    // Mensajes de notificación
    if message
        #notification.alert.alert-success
            | #{message}
    if errorMessage
        #notification.alert.alert-danger
            | #{errorMessage}

    div.container
    div.row.justify-content-center
        div.col-md-6.col-12
            h1.text-center.mb-4 Prescripcion de Medicamentos
            form(action="/prescripcion/altaMedicacion" method="post" class="needs-validation")
                input(type="hidden" name="id_turno" value=`${turno.idTurno}`)

                div(class="mb-3")
                    label(for="paciente" class="form-label") Paciente: 
                    input(type="text" value=`${paciente.nombre + ' ' + paciente.apellido}` class="form-control" readonly) 

                div(class="mb-3")
                    label(for="obra" class="form-label") Obra Social / Plan: 
                    input(type="text" value=`${paciente.Plan.ObraSocial.nombre + ' / ' + paciente.Plan.nombre}` class="form-control" readonly) 

                // Aquí se listan los medicamentos dinámicamente
                div#medicamentos-container
                    div.medicamento-item
                        div(class="mb-3")
                            label(for="id_medicamento" class="form-label") Medicamento:
                            select(name="medicamentos[][id_medicamento]" class="form-control")
                                if medicamentos && medicamentos.length > 0
                                    each medicamento in medicamentos
                                        option(value=medicamento.idMedicamento) #{medicamento.nombre} - #{medicamento.concentracion} - #{medicamento.Forma.nombre} - #{medicamento.cantidad}
                                else
                                    option(value="" disabled) No hay medicamentos disponibles

                        div(class="mb-3")
                            label(for="nombre_comercial" class="form-label") Nombre Comercial:
                            input(type="text" name="medicamentos[][nombreComercial]" class="form-control")

                        div(class="mb-3")
                            label(for="dosis" class="form-label") Dosis:
                            textarea(name="medicamentos[][dosis]" class="form-control" required rows="4" placeholder="Escriba la dosis aquí...")

                        div(class="mb-3")
                            label(for="administracion" class="form-label") Administracion:
                            textarea(name="medicamentos[][administracion]" class="form-control" required rows="4" placeholder="Escriba las indicaciones aquí...")

                // Botón para agregar más medicamentos
                div(class="d-flex justify-content-end mb-3")
                    button(type="button" class="btn btn-success" id="add-medicamento") Agregar Medicamento

                div(class="mb-3")
                    label(for="diagnostico" class="form-label") Diagnóstico:
                    textarea(name="diagnostico" class="form-control" required rows="4" placeholder="Escriba el diagnóstico aquí...")

                div(class="mb-3")
                    label(for='vigencia' class="form-label fw-bold") Vigencia:
                    input#fecha.form-control(type="date" name="fechaVigencia" min=`${new Date().toISOString().split('T')[0]}`)

                div(class="d-grid gap-2")
                    button(type="submit" class="btn btn-primary") Guardar
                    a(href="/turnos/misTurnos" class="btn btn-secondary") Volver
    script(src='/js/recetarioMedicamentos.js')  