extends ../layout 

block content 

    if message
        #notification.alert.alert-success
            | #{message}

    if errorMessage
        #notification.alert.alert-danger
            | #{errorMessage}

    div.container
        div.row.justify-content-center
            div.col-md-6.col-12

                h2 Editar contrato
                form(action=`/contrato/editar/${contrato.idContrato}?_method=PATCH`, method="post" class="needs-validation") 
                    div(class="mb-3")
                        label(for="usuario" class="form-label") Usuario: 
                        input(type="text" name="id_usuario" value=`${contrato.Usuario.nombre + ' ' + contrato.Usuario.apellido}` class="form-control" readonly)
                    div(class="mb-3")
                        label(for="profesional" class="form-label") Profesional:
                        input(type="text" name="id_profesional" value=`${contrato.Profesional.nombre + ' ' + contrato.Profesional.apellido}` class="form-control" readonly)
                    div(class="mb-3")
                        label(for="fecha de caducidad" class="form-label") Fecha de caducidad: 
                        input(type="date" name="fechaCaducidad" value = `${contrato.fechaCaducidad}` class="form-control" required)
                
                    div(class="d-grid gap-2")
                        button(type="submit" class="btn btn-primary") Enviar
                        a(href="/contrato/index" class="btn btn-secondary") Volver
