extends ../layout 

block content 

    if message
        #notification.alert.alert-success
            | #{message}

    if errorMessage
        #notification.alert.alert-danger
            | #{errorMessage}

    h2 Crear Usuario!

    div
        a(href="/usuario/crear" class="btn btn-success mx-2") 
         i(class="fas fa-plus" style="color: white;")
         |Agregar Usuario
        h2(class='text-center') Listado de Usuarios

    table#myTable.table.table-striped
        thead 
            tr 
                th Id 
                th Avatar
                th Nombre
                th Apellido
                th Email 
                th Rol
                th Estado
                th Acciones
        tbody
            if usuarios && usuarios.length > 0
                each u in usuarios
                    tr
                        td #{u.id} 
                        td 
                            img(src=`${u.avatar}`, alt="Avatar", width="50", height="50") 
                        td #{u.nombre}
                        td #{u.apellido}
                        td #{u.email}
                        td #{u.rol}
                        td #{u.estado ? 'Activo' : 'Inactivo'} 
                        td 
                            div(class="btn-group")
                                
                                form(action=`/usuario/editar/${u.id}`, method="GET")
                                    button(type="submit", class="btn btn-primary mx-2") 
                                     i(class="fas fa-edit")
                                     |Editar
                                
                                if u.estado == 1
                                    form(action=`/usuario/baja/${u.id}?_method=PATCH`, method="POST")
                                        button(type="submit", class="btn btn-danger") Desactivar 
                                         i(class="fas fa-toggle-off")
                                else
                                    form(action=`/usuario/activar/${u.id}?_method=PATCH`, method="POST")
                                        button(type="submit", class="btn btn-success mx-2") Activar 
                                         i(class="fas fa-toggle-off")
