extends ../layout 

block content 

    if message
        #notification.alert.alert-success
            | #{message}

    if errorMessage
        #notification.alert.alert-danger
            | #{errorMessage}

    h1 Crear Especialidad!

     
    form(action="/especialidades/alta", method="post")
        div(class = "mb-3")
            label(for="nombre") Nombre:
            input(type="text" , name="nombre", class = "form-control w-auto",required) 
        button(type = "submit",class="btn btn-success mx-2") Agregar Especialidad

    h2(class = 'text-center') Listado de Especialidades
    table#myTable.table.table-striped
        thead 
            tr 
                th Id 
                th Nombre 
                th Estado 
                th Acciones 
        tbody 
            if Especialidades.length > 0
                each e in Especialidades
                    tr 
                        td #{e.idEspecialidad}
                        td #{e.nombre}
                        td #{e.estado ? 'Activo' : 'Inactivo'} 
                        td 
                            div(class="btn-group")
                                form(action=`/especialidades/editar/${e.idEspecialidad}`, method="get") 
                                    button(type="submit", class="btn btn-primary mx-2") Editar
                                if e.estado == 1
                                    form(action=`/especialidades/baja/${e.idEspecialidad}?_method=PATCH`, method="post") 
                                        button(type="submit", class="btn btn-danger mx-2") Desactivar
                                else 
                                    form(action=`/especialidades/activar/${e.idEspecialidad}?_method=PATCH`, method="post") 
                                        button(type="submit", class="btn btn-success mx-2") Activar   
            else 
                tr
                    td(colspan="4") No hay Especialidades registradas                  
                                

        